/*
* File: style.css
* Author: Vinkovits János László
* Copyright: 2023, Vinkovits János László
* Group: SZOFT I/II/N
* Date: 2023-06-02.
* Github: https://github.com/VinLaszlo
* Licenc: GNU GPL
*/

.about {
  background-color: darkgoldenrod;
  border-top: 3px solid grey;
  position: fixed;
  width: 600px;
  text-align: center;
  top: 120px;
  right: -180px;
  transform: rotate(45deg);
}

h1,
h2 {
  text-align: center;
}

body {
  background-color: lightgreen;
  display: block;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
